<form [formGroup]="userform" (ngSubmit)="UserFormSubmit()">
    <div class="UserFrom">
        <mat-form-field>
            <input matInput placeholder="Name" formControlName="userId" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Age" formControlName="id" required type="number">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Phone No" formControlName="title" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="body" required>
        </mat-form-field>
    </div>
    <div>
        <button mat-raised-button color="primary">Form Submit</button>
    </div>
</form>