<p>utilities works!</p>


<div (click)="SwalAlert()">
    <button mat-raised-button color="primary">Swal</button>
</div>



<div>
    <div class="Icons">
        <i class="fa fa-user"></i>
        <i class="fas fa-file-word"></i>


        <i class="material-icons">
            account_balance
        </i>
    </div>
</div>