.SideNav {
    width: 200px;
    background-color: orchid;
    color: #fff;
    height: calc(100vh - 55px);
    .nav {
        display: flex;
        flex-direction: column;
        span {
            padding: 0px 15px;
            cursor: pointer;
            height: 50px;
            display: flex;
            align-items: center;
        }
        span:hover {
            background-color: plum;
            color: orangered;
        }
    }
}