<div class="SideNav">
    <div class="nav">
        <span routerLink="/">Dashboard</span>
        <span routerLink="/hello">Hello World</span>
        <span routerLink="/formvalidation">From Validation</span>
        <span routerLink="/table">Table</span>
        <span routerLink="/utilities">Utilities</span>
    </div>
</div>