<div>
    <div>{{data.id}}</div>
    <div>{{data.userId}}</div>
    <div>{{data.title}}</div>
    <div>{{data.body}}</div>
</div>


<div (click)="Send()">
    <button mat-raised-button color="primary">Confirm</button>
</div>