<div class="Header">
    <div class="nav">
        <span routerLink="/">Dashboard</span>
        <span routerLink="/hello">Hello World</span>
        <span routerLink="/hello">Demo 3</span>
    </div>
</div>