.Header {
    height: 55px;
    width: 100%;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav {
        display: flex;
        flex-direction: row;
        span {
            padding: 0px 8px;
            cursor: pointer;
        }
        span:hover {
            color: orangered;
        }
    }
}