<p>helloworld works!</p>


<mat-form-field>
    <input matInput placeholder="Name" [(ngModel)]="name">
</mat-form-field>
<mat-form-field>
    <input matInput placeholder="Age" [(ngModel)]="age">
</mat-form-field>

<button mat-raised-button color="primary" (click)="SendData()" *ngIf="sendbutton">Send</button>
<button mat-raised-button color="primary" (click)="UpdateFunc()" *ngIf="editbutton">Edit</button>
<div *ngFor="let v of array">
    <div>
        {{v.id}} | {{v.name}} | {{v.age}}
        <span (click)="Delete(v)"> | x</span>
        <span (click)="Update(v)"> | update</span>
    </div>
</div>


<div *ngFor="let value of apiData">
    <div>
        <span>MOnth : {{value.month}}</span>
        <span>position: {{value.position}}</span>
        <span>Price: {{value.price}}</span>
        <span>Status: {{value.status}}</span>
    </div>
</div>