.DashboardLayout {
    display: flex;
    flex-direction: row;
    .Children {
        padding: 15px;
        width: calc(100% - 200px);
        height: calc(100vh - 100px);
        overflow-y: scroll;
    }
}